<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578143376334-gh8vj7u0go912vp0pqkpdad0qdr1brq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578143376334-gh8vj7u0go912vp0pqkpdad0qdr1brq9</string>
	<key>API_KEY</key>
	<string>AIzaSyDnJDtmcNMvhzVF8azWi95r_DlsFNXblwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>578143376334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.disolutionsmx.welearn</string>
	<key>PROJECT_ID</key>
	<string>welearn-4b24d</string>
	<key>STORAGE_BUCKET</key>
	<string>welearn-4b24d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578143376334:ios:ab3282f5dd1017f7</string>
	<key>DATABASE_URL</key>
	<string>https://welearn-4b24d.firebaseio.com</string>
</dict>
</plist>